.webglPlayer {
  width: 100%;
  max-width: 1024px;
  /* margin: 0rem 0.5rem; */
}

.desktop-panel {
  width: 100%;
  height: 100%;
  display: block;
}

.mobile-panel {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-panel {
    display: none;
  }

  .mobile-panel {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* 모바일 */
.mobile-page-container {
  width: 100%;
  height: 100%;
  margin-top: var(--nav-bar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--nav-bar-height) + 1rem) 1rem 2.5rem;
  gap: 1.12rem;
}

.mobile-page-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.mobile-button-group {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 0.5;
  margin-bottom: 3vh;
}

.mobile-button-group-row {
  width: 100%;
  display: flex;
  gap: 0.75rem;
}

.tool-button {
  height: 36px;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 0rem 16px;
  color: white;
  background: rgba(34, 38, 53, 0.34);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.nft-page {
  min-height: 100%;
  width: 100vw;
  position: fixed;
}

.new-page,
.empty-page {
  min-height: 100vh; /* 꼭 vh로 */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-page {
  pointer-events: none;
}

.desc-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  flex-direction: column;
}

.safari-full-height {
  min-height: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  height: fill-available !important;
}

.mobile-swiper {
  width: 100%;
  height: 100%;
}

.mobile-slide {
  width: 100%;
}

.mobile-slide-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-swiper-v {
  width: 100%;
  height: 100%;
}

.closeDescptionButton {
  display: block;
  position: fixed;
  bottom: 40px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px;
}
