@import url("reset.css");
@import url("font-pretendard.css");

:root {
  /* color */
  --black: #121212;
  --white: #ffffff;
  --gray-100: #e1e4e9;
  --gray-200: #b8bdc3;
  --gray-300: #878f9b;
  --gray-400: #4a586d;
  --gray-500: #162947;
  --gray-600: #0c1b32;
  --gray-700: #07101e;

  /* bg color */
  --bg-intro: linear-gradient(117deg, #222635 0%, #060a1c 100%);
  --bg-kansong: linear-gradient(117deg, #786b5c 0%, #321846 100%);
  --bg-pinzle: linear-gradient(117deg, #373948 0%, #2c193c 100%);
  --bg-ifland: linear-gradient(117deg, #5e43e3 0%, #321846 100%);
  --text-gra: linear-gradient(90deg, #ff2191 25%, #6505ff 83.53%);

  /* text size */
  --title: 2rem;
  --subTitle: 1rem;
  --content: 0.875rem;
  --button: 0.875rem;
  --nav: 1.125rem;
  --background: 12.5rem;
  --main: 3.125rem;

  /* nav bar */
  --nav-bar-height: 5rem;

  /* modal */
  /** mobile menu **/
  --mobile-menu-modal-z-index: 9999;

  --vh: 100%;
}

* {
  font-family: "Pretendard", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 700px;
  /* max-height: 100vh; */
  max-height: calc(var(--vh, 1vh) * 100);
  background-image: url("../assets/bg.jpg");
}

@media (max-width: 1024px) {
  :root {
    /* nav bar */
    --nav-bar-height: 3rem;

    /* intro */
    --main: 2rem;

    /* subpages */
    --title: 1.625rem;
    --subTitle: 0.875rem;
    --content: 1rem;
  }

  html,
  body {
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    height: fill-available;
    /* height: 100vh; */
    height: calc(var(--vh, 1vh) * 100);
    /* max-height: 100vh; */
    max-height: 100%;
  }
}

.page-background {
  width: 100%;
  height: 100%;
  opacity: 0.96;
}

.intro-slider {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.intro-slider::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.full-page-swiper {
  width: 100%;
  height: 100%;
}

/* intro */
.intro-webp-page {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  scroll-snap-align: center;
  margin: 0;
  padding: 0;
}

.intro-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  font-size: calc(var(--font-size) * 1px);
  font-weight: bold;
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  gap: 56px;
}

@media (max-width: 1024px) {
  .intro-page {
    background-image: none;
    /* font-size: 3rem; */
    gap: 0px;
  }
}

.intro-page-content {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.intro-about-background {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 8000;
}

.head-copy > span {
  color: var(--white);
  font-size: var(--main);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

picture {
  z-index: 2;
}

.webgl-container {
  width: 1024px;
  height: 768px;
}

.sample-image {
  width: 1024px;
  height: 576px;
}

.sample-image-modal {
  width: calc(5rem + 1024px);
  height: 576px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1024px), screen and (max-height: 900px) {
  .webgl-container {
    width: 640px;
    height: 480px;
  }

  .sample-image {
    width: 640px;
    height: 360px;
  }

  .sample-image-modal {
    width: calc(5rem + 640px);
    height: 576px;
  }
}

@media screen and (max-width: 640px), screen and (max-height: 600px) {
  .webgl-container {
    width: 320px;
    height: 240px;
  }

  .sample-image {
    width: 320px;
    height: 180px;
  }
}

.bottom-down-arrow {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0.5;
  z-index: 2;
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: arrow-down 2s 2s infinite;
}

.bottom-down-arrow-mobile {
  z-index: 2;
  position: static;
  margin-bottom: 3.5rem;
  left: 50%;
  animation: arrow-up 2s 2s infinite;
}

@media (max-width: 1023px) {
  .bottom-down-arrow {
    z-index: 2;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: arrow-up-intro 2s 2s infinite;
  }

  .icon-arrow {
    content: url(../assets/icon-arrow-mobile.svg);
  }
}

@keyframes arrow-down {
  0% {
    transform: translate(-50%, 0);
  }
  40%,
  100% {
    transform: translate(-50%, 80%);
  }
}

@keyframes arrow-up {
  0% {
    transform: translate(0%, 0);
  }
  40%,
  100% {
    transform: translate(0%, -80%);
  }
}

@keyframes arrow-up-intro {
  0% {
    transform: translate(-50%, 0);
  }
  40%,
  100% {
    transform: translate(-50%, -80%);
  }
}

/* common */
.footer-area {
  width: 100%;
  min-height: 2rem;
  position: absolute;
  bottom: 0px;
  z-index: 4100;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 1rem 0;
}

.footer-area > a {
  color: rgba(255, 255, 255, 0.56);
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 5rem;
  position: absolute;
  padding: 0rem 1.75rem 0rem 2.5rem;
  z-index: 10;
  background-color: transparent !important;
  color: white;
}

.navbar-pad {
  width: 100%;
  height: 5rem;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: red;
}

.navbar-brand > img {
  height: 100%;
}

.menu-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.menu-button-group > a {
  display: block;
  text-align: center;
  color: var(--gray-200, #b8bdc3);
  font-size: var(--nav);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
}
.menu-button-group > a.active {
  color: var(--white, #fff);
}

.navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

/* mobile */
@media (max-width: 1023px) {
  .navbar {
    width: 100%;
    height: 3.5rem;
    padding: 0 0.62rem 0 1rem;
    display: flex;
    justify-content: center;
  }

  .navbar-container {
    width: 100%;
    display: flex;
  }

  .navbar-brand > img {
    width: 10.446rem;
    /* height: 100%; */
    max-height: 2.375rem;
  }

  .menu-button-group {
    flex-direction: column;
    justify-content: center;
  }

  .menu-button-group > a {
    color: var(--gray-200);
  }
}

.nav-link {
  color: var(--gray-200);
  font-size: var(--nav);
  font-weight: 600;
  padding: 0 16px !important;
}

.nav-link:hover {
  color: var(--white) !important;
}

.nav-link.active {
  color: var(--white) !important;
}

.container-fluid {
  background-color: transparent;
}

.menu-modal {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: var(--mobile-menu-modal-z-index);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.menu-modal-container {
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.25rem;
  flex-shrink: 0;
}

.menu-modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
}

.menu-modal-header > a {
  text-align: center;
  font-family: Pretendard, sans-serif;
  color: var(--White, #fff);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
}

.menu-modal-footer {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
  font-family: Pretendard, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.3125rem */
}

.menu-modal-footer > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bg-ifland {
  position: fixed;
  background: var(--bg-ifland);
  z-index: 1;
  width: 100%;
  /* height: 100vh; */
  height: calc(var(--vh, 1vh) * 100);
  opacity: 0.98;
}

.bg-text {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: fixed;
  color: var(--white);
  opacity: 0.2;
  mix-blend-mode: soft-light;
  font-size: var(--background);
  font-weight: 900;
  text-transform: uppercase;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-text .track {
  position: relative;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) {
  .bg-text.content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

.desktop-fullpage {
  width: 100%;
  height: 100%;
}

/* 네비게이션 만큼 내림 */
.desktop-fullpage-slide-container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.narrow-nft-desc-gap {
  gap: 1.56rem;
}

.wide-nft-desc-gap {
  gap: 13.1rem;
}

.fullpage-slide-container-padding {
  padding-top: calc(var(--nav-bar-height) + 8rem);
  padding-bottom: 8rem;
  padding-right: 9.69rem;
  padding-left: 9.69rem;
}

.nft-image-area {
  position: relative;
  max-height: 680px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nft-desc-area {
  max-width: 34.6em;
  /* margin-top: 8.41rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-all;
}

.pinzle-nft-desc-area {
  text-align: center;
  width: fit-content;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

:is(.nft-desc-area, .pinzle-nft-desc-area) > .category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

:is(.nft-desc-area, .pinzle-nft-desc-area) > .category > span {
  padding: 0.25rem 0.5rem;
  color: var(--White, #fff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.4rem */
  background: rgba(36, 34, 53, 0.5);
}

:is(.nft-desc-area, .pinzle-nft-desc-area) > .subtitle {
  color: var(--gray-200);
  font-size: var(--subTitle);
  font-weight: 600;
  line-height: 140%; /* 1.4rem */
}

:is(.nft-desc-area, .pinzle-nft-desc-area) > .title {
  color: var(--white);
  font-size: var(--title);
  font-weight: 700;
  line-height: 120%; /* 2.4rem */
}

.nft-desc-area > .content {
  width: 100%;
  color: var(--gray-100);
  font-size: var(--content);
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
  text-align: left;
  margin-bottom: 2.25rem;
}

.pinzle-nft-desc-area > .content {
  width: 60vw;
  color: var(--gray-100);
  font-size: var(--content);
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
  text-align: left;
}

.desktop-info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0rem 0rem;
}

.mobile-info {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.75rem;
}

.nft-info-title {
  color: var(--white);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.35rem */
  text-transform: uppercase;
}

.nft-info-text1 {
  color: var(--white);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.35rem */
  text-transform: uppercase;
  word-break: break-all;
}

@media (max-width: 1024px) {
  .nft-info-text1 {
    width: auto;
  }
}

.nft-info-text2 {
  color: var(--gray-200);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .nft-desc-area {
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    padding: 2.5rem 1.75rem;
  }

  .nft-desc-area > .category {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nft-desc-area > .category > span {
    padding: 0.25rem 0.5rem;
    color: var(--White, #fff);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 1.4rem */
    background: rgba(36, 34, 53, 0.5);
  }

  .nft-desc-area > .subtitle {
    line-height: 140%; /* 1.4rem */
  }

  .nft-desc-area > .title {
    line-height: 120%; /* 2.4rem */
  }

  .nft-desc-area > .content {
    line-height: 140%; /* 1.4rem */
  }
}
.pinzle-desktop-img {
  display: inline-block;
  width: auto;
  padding-top: 2rem;
  position: relative;
  bottom: 5vh;
  max-width: 100%;
  max-height: 100%;
}

.pinzle-fullpage-slide-container-padding {
  padding-top: calc(var(--nav-bar-height) + 2.5rem);
  padding-left: 16.94rem;
  padding-right: 16.94rem;
  padding-bottom: 0rem;
}

.button-area {
  max-width: 13rem;
  margin-top: 2.25rem;
  display: flex;
  gap: 0.75rem;
}

.button-area-pinzle {
  justify-content: center;
}

.button-area button {
  min-height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-200);
  border-radius: 50px;
  padding: 0 1rem;
  gap: 0.25rem;
  background: rgba(34, 38, 53, 0.34);
  backdrop-filter: blur(8px);
}

.button-area button span {
  color: var(--gray-100);
  font-size: var(--button); /* font-size: 0.875rem; */
  font-weight: 400;
  line-height: 140%; /* 1.225rem */ /* 19.6px; */
}

.pinzle-sample-slide {
}

.web {
  display: block;
  position: relative;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .web {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

/* benefit */
.benefit-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--nav-bar-height) + 8.95rem) 2.5rem 8.95rem;
  gap: 6.25rem;
}

.benefit-title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.benefit-title-area h2 {
  color: var(--white);
  font-size: 3.125rem;
}

.benefit-table-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75rem;
  color: var(--white);
  font-size: 1.125rem;
}

.benefit-table-area h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.benefit-td {
  display: block;
  padding: 12px 16px;
}

.benefit-desc {
  font-size: 1rem;
  display: block;
  color: var(--gray-300);
  margin-top: 0.25rem;
}

.benefit-text {
  font-size: 1rem;
  color: var(--gray-300);
}

.benefit-image {
  position: absolute;
  right: 12px;
  margin-top: 56px;
  width: 65px;
  height: 65px;
}

table {
  border-collapse: collapse;
}

th {
  min-width: 180px;
  padding: 20px 16px;
  text-align: center;
  border: 1px solid var(--gray-400);
  vertical-align: middle;
}

td {
  max-width: 764px;
  min-width: 764px;
  border: 1px solid var(--gray-400);
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .benefit-area {
    display: flex;
    flex-direction: column;
    padding: calc(var(--nav-bar-height) + 4.95rem) 2.5rem 8.95rem;
    gap: 5.25rem;
  }

  .benefit-title-area h2 {
    color: var(--white);
    font-size: 2rem;
  }

  .benefit-table-area {
    width: auto;
    font-size: 1.125rem;
  }

  .benefit-table-area h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  th {
    min-width: 3rem;
    padding: 1.25rem 1rem;
  }

  td {
    min-width: 13.5rem;
    padding: 0.75rem 1rem;
  }
}

/* 인트로 - about */
.page-main {
  position: fixed;
}

.page-cover {
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  padding: 0 1rem;
}

.cc {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.pp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  gap: 1.5rem;
}

.intro-desc {
  max-width: 1024px;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 140%;
  color: var(--gray-200);
  text-transform: none;
}

.intro-desc-gra {
  background-image: var(--text-gra);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.pp .char {
  display: inline-block;
  -webkit-animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}

.text--random [data-scroll="out"] .char:nth-of-type(1) {
  transform: translateX(212%) translateY(210%);
}
.text--random [data-scroll="out"] .char:nth-of-type(2) {
  transform: translateX(-33%) translateY(-127%);
}
.text--random [data-scroll="out"] .char:nth-of-type(3) {
  transform: translateX(26%) translateY(118%);
}
.text--random [data-scroll="out"] .char:nth-of-type(4) {
  transform: translateX(-173%) translateY(216%);
}
.text--random [data-scroll="out"] .char:nth-of-type(5) {
  transform: translateX(-131%) translateY(-119%);
}

/* utilities */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: end;
}
.items-center {
  align-items: center;
}
.fit-width {
  width: fit-content;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative-max-full-height {
  position: relative;
  max-height: 100%;
}

.white-solid-border {
  border: 1px solid white;
}

.red-dotted-border {
  border: 1px dotted red;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

.full-view {
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}
