@import url('reset.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
  /* color */
  --black: #121212;
  --white: #FFFFFF;
  --gray_100: #E1E4E9;
  --gray_200: #B8BDC3;
  --gray_300: #878F9B;
  --gray_400: #4A586D;
  --gray_500: #162947;
  --gray_600: #0C1B32;
  --gray_700: #07101E;

  /* bg color */
  --bg-intro: linear-gradient(116.82deg, #222635 0%, #060A1c 100%);
  --bg-kan: linear-gradient(117deg, #786B5C 0%, #321846 100%);

  /* text size */
  --title: 2rem;
  --subTitle: 1.125rem;
  --content: 0.875rem;
  --button: 1rem;
  --background: 12.5rem;
  --main: 3.125rem;

}

* {
  font-family: "Pretendard", sans-serif
}

.intro-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.intro-container::-webkit-scrollbar {
display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* common */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  font-size: calc(var(--font-size) * 1px);
  font-weight: bold;  
  position: relative;
  color: #fff;
  /* background-image: url(../assets/bg.jpg); */
  margin: 0;
  padding: 0;
  gap: 56px;
}

@media (max-width: 1024px) {
  .page {
    background-image: none;
    font-size: 3rem;
    gap: 0px;
  }
}

/* intro */
.page-main {
  position: fixed;
}

.page-cover {
  background-color: rgba(0, 0, 0, 0.70);
  backdrop-filter: blur(5px);
}

.page-cover > span {
  color: var(--white);
  /* text-align: center;
  font-family: Pretendard; */
  font-size: var(--main);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.bg-intro {
  position: fixed;
  background: var(--bg-intro);
  z-index: 1;
  width: 100%;
  height: 100vh;
  opacity: 0.98;
}



.bg-kansong {
  position: fixed;
  background: var(--bg-kan);
  z-index: 1;
  width: 100%;
  height: 100vh;
  opacity: 0.98;
}

.bg-text {
  width: 1000vw;
  position: fixed;
  color: var(--white);
  opacity: 0.2;
  font-size: var(--background);
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
}

.item-nft {
  z-index:3;
  position: relative;
  width: 508px;
}

@media (max-width: 1024px) {
  .item-nft {
    display:flex;
    justify-content: center;
  }
}
.item-nft > div {
  position: absolute;
  top: 50%;
  left: 200px;
  transform:translateY(-50%);
}

.item-text {
  display: flex;
  flex-direction: column;
  z-index: 3;
  color: var(--white);
  background-color:transparent;
  max-width: 558px;
}

.item-text > .subtitle {
  color: var(--gray_200);
  font-size: var(--subTitle);
  font-weight: 600;
  line-height: 25.2px;
}

.item-text > .title {
  color: var(--white);
  font-size: var(--title);
  font-weight: 700;
  line-height: 38.4px;
  margin-top: 8px;
}

.item-text > .content {
  color: var(--gray_100);
  font-size: var(--content);
  font-weight : 400;
  line-height: 19.6px;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .item-text {
    justify-content: center;
    text-align: center;
    padding:0 16px;
  }
}

.button-area {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 36px;
  z-index: 1;
}

.button-area span {
  display: flex;
  color: var(--gray_100);
  font-size: var(--button);
  font-weight : 400;
  line-height: 19.6px;
  border: 1px solid var(--gray_200);
  border-radius: 50px;
  padding: 0 16px;
  min-height: 36px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

picture {
  z-index: 2;
}

.page .char {
  display: inline-block;
  -webkit-animation-delay: calc(0.25s + var(--char-index) * 0.1s);
          animation-delay: calc(0.25s + var(--char-index) * 0.1s);
  transition: all 0.25s calc(0.25s + var(--char-index) * 0.1s);
}

.text--random [data-scroll='out'] .char:nth-of-type(1) {
  transform: translateX(212%) translateY(210%);
}
.text--random [data-scroll='out'] .char:nth-of-type(2) {
  transform: translateX(-33%) translateY(-127%);
}
.text--random [data-scroll='out'] .char:nth-of-type(3) {
  transform: translateX(26%) translateY(118%);
}
.text--random [data-scroll='out'] .char:nth-of-type(4) {
  transform: translateX(-173%) translateY(216%);
}
.text--random [data-scroll='out'] .char:nth-of-type(5) {
  transform: translateX(-131%) translateY(-119%);
}
.text--random [data-scroll='out'] .char:nth-of-type(6) {
  transform: translateX(232%) translateY(86%);
}

.mobile {
    display: none;
}

@media (max-width: 1024px) {
    .web {
      display: none;
    }
    .mobile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
     }

     /* .mobile .page { 
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      display: flex;
      width: fit-content;
      transition: 0.6s ease-out;
     } */
     
     .mobile > .item-text > span {
      color: black;
     }

  #carousel-list {
    display: flex;
    width: fit-content;
  }
  
  .carousel-list-transition {
    transition: 0.6s ease-out;
  }
  
  .carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
}