@import url('reset.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
  /* color */
  --black: #121212;
  --white: #FFFFFF;
  --gray_100: #E1E4E9;
  --gray_200: #B8BDC3;
  --gray_300: #878F9B;
  --gray_400: #4A586D;
  --gray_500: #162947;
  --gray_600: #0C1B32;
  --gray_700: #07101E;

  /* text size */
  --title: 1.125rem;
  --subTitle: 2rem;
  --content: 0.875rem;
  --background: 12.5rem;
}

* {
  font-family: "Pretendard", sans-serif
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 0.5rem; */

  /* 반응형 작업중 */
  /* padding: 0 40px;
  width: 100vw;
  height: 100vh; */
}

.itemContainer {
  display: flex;
  justify-content: center;

  /* 반응형 작업중 */
  /* gap: 4.4rem; */

  /* gap:69px; */
  align-items: center;
  position:relative;
  /* background-image: url(../assets/bg.jpg); */
  background-color: black;
  width: 100%;
  min-height: 700px;
  height: 100%;
}

.bgIntro {
  position:absolute;
  background: linear-gradient(116.82deg, #222635 100%, #060A1c 100%);
  width: 100%;
  min-height: 700px;
  height: 100%;
  opacity: 0.98;
}

.bgGradient {
  position:absolute;
  background: linear-gradient(116.82deg, #786B5C 0%, #321846 100%);
  min-height: 700px;

  /* 반응형 작업중 */
  /* width: 100%;
  min-height: 700px;
  height: 100%;
  opacity: 0.98; */
}

.bgText {
  position:absolute;  width:100%;
}

.bgText > atomrigs-span {
  color: rgba(255, 255, 255, 0.20);
  font-size: 12.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 140%;
  text-transform: uppercase;
}

.imgContainer {
  position:relative;
  z-index: 0;
  width:508px;

  /* 반응형 작업중 */
  /* width: 31.75rem;
  min-width:22.75rem;
  min-height: 42.5rem; */
}

.nft {
  position: absolute;

  /* 반응형 작업중 */
  /* top: 3rem;
  left: 9.75rem; */

  z-index: 0;
}

/* 반응형 작업중 */
/* .nft > img {
  width: 22rem;
  height: 33rem;
} */

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: var(--white);
  background-color:transparent;
  max-width: 558px;
  z-index: 0;
}

.title {
  color: var(--gray_200);
  font-size: var(--title);
  font-weight: 600;
  line-height: 25.2px;
}

.subTitle {
  color: var(--white);
  font-size: var(--subTitle);
  font-weight: 700;
  line-height: 38.4px;
}

.content {
  color: var(--gray_100);
  font-size: var(--content);
  font-weight : 400;
  line-height: 19.6px;
}

/* 모바일 */ 

/* 반응형 작업중 */
/* @media all and (max-width:1024px) {
  .imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .imgContainer > img{
    display: none;
  }

  .nft {
    position: static;
  }
  
  .textContainer {
    display: none;
  }
}  */