<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <meta property="og:image" content="http://interverse.link/assets/meta-image.jpg" />
  
  <title>Interverse</title>

  <!-- html 파일들은 각 언어별 디렉토리에 있으므로 ../이 필요 -->
  <link rel="icon" href="../assets/favicon-interverse-snowball.ico">
  <link href="../css/main.css?dt=<%- Date.now() %>" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/ji.css?dt=<%- Date.now() %>" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG901889B8"></script>
  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <script src="../js/common.js?dt=<%- Date.now() %>"></script>
  <script src="../js/components.js?dt=<%- Date.now() %>"></script>
  <script src="../js/modal.js?dt=<%- Date.now() %>"></script>
  <script src="../js/webgl-player.js?dt=<%- Date.now() %>"></script>

  <link rel="stylesheet" href="../assets/swiperjs-10.3.1/swiper-bundle.min.css" />
  <script src="../assets/swiperjs-10.3.1/swiper-bundle.min.js"></script>

  <script src="../js/funcs.js"></script>

  <script>
    function onLoaded() {
      init();
    }
  </script>

</head>

<body onLoad="onLoaded()">
    <navigation-bar-element activekey="benefits"></navigation-bar-element>
    <main
      id="benefit-container"
      class="page-background full-view"
      style="background-image: var(--bg-intro); height: fit-content;"
    >
      <div class="web benefit-area">
        <div class="footer-area">
          <a href="https://atomrigs.io">© Atomrigs Lab Inc.</a>
        </div>
        <div class="benefit-title-area">
          <p class="benefit-desc">Benefit</p>
          <h2><%= purchaseBenefit %></h2>
        </div>

        <!-- ifland -->
        <div class="benefit-table-area">
          <h3><%- ifland %></h3>
          <table>
            <tr>
              <th><%- benefit.th[0] %></th>
              <td><span class="benefit-td"><%- benefit.ifland[0] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[1] %></th>
              <td><span class="benefit-td"><%- benefit.ifland[1] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[2] %></th>
              <td><span class="benefit-td"><%- benefit.ifland[2] %></span></td>
            </tr>
          </table>
        </div>

        <!-- 간송미술관 -->
        <div class="benefit-table-area">
          <h3><%- kansongMuseum %></h3>
          <table>
            <tr>
              <th><%- benefit.th[0] %></th>
              <td><span class="benefit-td"><%- benefit.kansong[0] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[1] %></th>
              <td><span class="benefit-td"><%- benefit.kansong[1] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[2] %></th>
              <td>
                <span class="benefit-td"><%- benefit.kansong[2] %></span>
                <span class="benefit-td"><%- benefit.kansong[3] %>
                  <span class="benefit-desc"><%- benefit.kansong[4] %></span>
                </span>
              </td>
            </tr>
          </table>
        </div>

        <!-- pinzle -->
        <div class="benefit-table-area">
          <h3><%- pinzle %></h3>
          <table>
            <tr>
              <th><%- benefit.th[0] %></th>
              <td><span class="benefit-td"><%- benefit.pinzle[0] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[1] %></th>
              <td><span class="benefit-td"><%- benefit.pinzle[1] %></span></td>
            </tr>
          </table>
        </div>

        <!-- 앤스타일 -->
        <div class="benefit-table-area">
          <h3><%- annstyle %></h3>
          <table>
            <tr>
              <th><%- benefit.th[0] %></th>
              <td>
                <span class="benefit-td"><%- benefit.annstyle[0] %>
                  <span class="benefit-desc"><%- benefit.annstyle[1] %></span>
                </span>
              </td>
            </tr>
            <tr>
              <th><%- benefit.th[1] %></th>
              <td><span class="benefit-td"><%- benefit.annstyle[2] %></span></td>
            </tr>
            <tr>
              <th><%- benefit.th[2] %></th>
              <td>
                <span class="benefit-td"><%- benefit.annstyle[3] %>
                </span>
                <span class="benefit-td"><%- benefit.annstyle[4] %>
                </span>
                <span class="benefit-td"><%- benefit.annstyle[5] %>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </main>
  </div>

  <atomrigs-modal id="webgl-modal" width="60%" height="60%">
    <atomrigs-webgl-player id="webglPlayer" class="webglPlayer"></atomrigs-webgl-player>
  </atomrigs-modal>

</body>

</html>