<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <meta property="og:image" content="http://interverse.link/assets/meta-image.jpg" />

  <title>Interverse</title>

  <!-- html 파일들은 각 언어별 디렉토리에 있으므로 ../이 필요 -->
  <link rel="icon" href="../assets/favicon-interverse-snowball.ico">
  <link href="../css/main.css?dt=<%= Date.now() %>" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG901889B8"></script>
  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <script src="../js/common.js?dt=<%= Date.now() %>"></script>
  <script src="../js/components.js?dt=<%= Date.now() %>"></script>
  <script src="../js/modal.js?dt=<%= Date.now() %>"></script>
  <script src="../js/webgl-player.js?dt=<%= Date.now() %>"></script>

  <link rel="stylesheet" href="../assets/swiperjs-10.3.1/swiper-bundle.min.css" />
  <script src="../assets/swiperjs-10.3.1/swiper-bundle.min.js"></script>

  <script src="../js/funcs.js?dt=<%= Date.now() %>"></script>

  <script>
    let currentActiveWebGLIndex = 4;
    let minWebGLIndex = 4;
    let maxWebGLIndex = 5;
    function prev() {
      const prev3DBtn = document.getElementById('prev-3d-btn');
      const next3DBtn = document.getElementById('next-3d-btn');

      const player = document.getElementById('webglPlayer');
      player.close();

      currentActiveWebGLIndex -= 1;
      player.startView('ifland', currentActiveWebGLIndex);

      if (currentActiveWebGLIndex === minWebGLIndex) {
        prev3DBtn.style.visibility = 'hidden';
        next3DBtn.style.visibility = 'visible';
      } else {
        next3DBtn.style.visibility = 'visible';
      }
    }

    function next(prev3DBtnId, next3DBtnId) {
      const prev3DBtn = document.getElementById('prev-3d-btn');
      const next3DBtn = document.getElementById('next-3d-btn');

      const player = document.getElementById('webglPlayer');
      player.close();

      currentActiveWebGLIndex += 1;
      player.startView('ifland', currentActiveWebGLIndex);

      if (currentActiveWebGLIndex >= maxWebGLIndex) {
        next3DBtn.style.visibility = 'hidden';
        prev3DBtn.style.visibility = 'visible';
      } else {
        prev3DBtn.style.visibility = 'visible';
      }
    }

    function onLoaded() {
      init();
    }
  </script>

</head>

<body onLoad="onLoaded()">
  <div class="page-background" style="background-image: var(--bg-ifland)">
    <navigation-bar-element activekey="ifland"></navigation-bar-element>
    <main class="full-view">

      <!-- WEB -->
      <div class="web full-view">
        <div class="footer-area">
          <a href="https://atomrigs.io">© Atomrigs Lab Inc.</a>
        </div>
        <div class="bg-text">
          <div class="track">
            <div class="content">
              ifland original ifland original
            </div>
          </div>
        </div>

        <div class="swiper desktop-fullpage safari-full-height">
          <div class="swiper-wrapper safari-full-height">

            <div class="swiper-slide full-width safari-full-height">
              <div class="desktop-fullpage-slide-container narrow-nft-desc-gap fullpage-slide-container-padding">
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span>
                      <%= nft.ifland[0].category %>
                    </span>
                  </div>
                  <div class="title">
                    <%= nft.ifland[0].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.ifland[0].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.ifland[0].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= quantity %>
                      </div>
                      <div class="nft-info-text1">
                        <%= nft.ifland[0].quantity %>
                      </div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= desktopBenefit %>
                      </div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1">
                          <%= nft.ifland[0].benefit1 %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group collection="ifland" item-no="1" device-type="desktop"></atomrigs-button-group>
                </div>
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" class="relative-max-full-height" />
                  <img src="../assets/ifland/img-ifland-cathelmet.png" alt="" style="position: absolute; top: 12%; right: -60%; width: 135%; max-width: 484px; height: auto;" />
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide full-width safari-full-height">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" class="relative-max-full-height" />
                  <img src="../assets/ifland/img-ifland-bagHelmet.png" alt=""
                    style="position: absolute; top: 22%; right: -30%;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span>
                      <%= nft.ifland[1].category %>
                    </span>
                  </div>
                  <div class="title">
                    <%= nft.ifland[1].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.ifland[1].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.ifland[1].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= quantity %>
                      </div>
                      <div class="nft-info-text1">
                        <%= nft.ifland[0].quantity %>
                      </div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= desktopBenefit %>
                      </div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1">
                          <%= nft.ifland[0].benefit1 %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group collection="ifland" item-no="2" device-type="desktop"></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide full-width safari-full-height">
              <div class="desktop-fullpage-slide-container narrow-nft-desc-gap fullpage-slide-container-padding">
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span>
                      <%= nft.ifland[2].category %>
                    </span>
                  </div>
                  <div class="title">
                    <%= nft.ifland[2].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.ifland[2].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.ifland[2].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= quantity %>
                      </div>
                      <div class="nft-info-text1">
                        <%= nft.ifland[0].quantity %>
                      </div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= desktopBenefit %>
                      </div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1">
                          <%= nft.ifland[0].benefit1 %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group collection="ifland" item-no="3" device-type="desktop"></atomrigs-button-group>
                </div>
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" class="relative-max-full-height" />
                  <img src="../assets/ifland/img-ifland-neonglasses.png" alt=""
                    style="position: absolute; top: 15%; right: -35%;" />
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide full-width safari-full-height">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/ifland/logo-ifland.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/ifland/img-ifland-metaverse-clothing_2x.png" alt=""
                    style="min-width: 400px; position: absolute; top: 18%; right: -45%;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span>
                      <%= nft.ifland[3].category %>
                    </span>
                  </div>
                  <div class="title">
                    <%= nft.ifland[3].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.ifland[3].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.ifland[3].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= quantity %>
                      </div>
                      <div class="nft-info-text1">
                        <%= nft.ifland[0].quantity %>
                      </div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;">
                        <%= desktopBenefit %>
                      </div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1">
                          <%= nft.ifland[0].benefit1 %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group collection="ifland" item-no="4" device-type="desktop"></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
        <div class="bottom-down-arrow">
          <button id="down-arrow-at-bottom" type="button" style="background-color: transparent; text-decoration: none;"
            onClick="moveToNextSlide()">
            <img class="icon-arrow" src="../assets/icon-arrow.svg" alt="" />
          </button>
        </div>
      </div> <!-- end of web-->

      <!-- MOBILE -->
      <div class="mobile-panel safari-full-height">
        <div class="swiper mobile-swiper safari-full-height">
          <div class="swiper-wrapper safari-full-height">
            <div class="swiper-slide mobile-slide safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/ifland/img-ifland-cathelmet.png"
                category="<%= nft.ifland[0].category %>"
                title="<%= nft.ifland[0].title %>"
                subtitle="<%= nft.ifland[0].subtitle %>"
                content="<%= nft.ifland[0].content %>"
                collection="ifland"
                item-no="1"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/ifland/img-ifland-bagHelmet.png"
                category="<%= nft.ifland[1].category %>"
                title="<%= nft.ifland[1].title %>"
                subtitle="<%= nft.ifland[1].subtitle %>"
                content="<%= nft.ifland[1].content %>"
                collection="ifland"
                item-no="2"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/ifland/img-ifland-neonglasses.png"
                category="<%= nft.ifland[2].category %>"
                title="<%= nft.ifland[2].title %>"
                subtitle="<%= nft.ifland[2].subtitle %>"
                content="<%= nft.ifland[2].content %>"
                collection="ifland"
                item-no="3"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/ifland/mobile-img-ifland-metaverse_woman.png"
                category="<%= nft.ifland[3].category %>"
                title="<%= nft.ifland[3].title %>"
                subtitle="<%= nft.ifland[3].subtitle %>"
                content="<%= nft.ifland[3].content %>"
                collection="ifland"
                item-no="4"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/ifland/mobile-img-ifland-metaverse_man.png"
                category="<%= nft.ifland[4].category %>"
                title="<%= nft.ifland[4].title %>"
                subtitle="<%= nft.ifland[4].subtitle %>"
                content="<%= nft.ifland[4].content %>"
                collection="ifland"
                item-no="5"></atomrigs-nft-container>
            </div>
          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div>
    </main>
  </div>

  <atomrigs-modal id="benefit-modal" bgColor="transparent">
    <div class="mobile-info">
      <div class="nft-info-title">
        <%= quantity %>
      </div>
      <div class="nft-info-text1" style="margin-top: 1.25rem;">
        <%= nft.ifland[0].quantity %>
      </div>
      <div class="nft-info-title" style="margin-top: 2.25rem;">
        <%= desktopBenefit %>
      </div>
      <div class="nft-info-text1" style="margin-top: 1.25rem;">
        <%= nft.ifland[0].benefit1 %>
      </div>
    </div>
  </atomrigs-modal>

  <atomrigs-modal id="webgl-modal" bgColor="transparent">
    <div style="display: flex; flex-direction: column;">
      <atomrigs-webgl-player id="webglPlayer" class="webglPlayer"></atomrigs-webgl-player>
      <div id="webgl-controller" style="display: flex; justify-content: center;">
        <button id="prev-3d-btn" type="button" onClick="prev();" style="visibility: hidden;">
          <img src="../assets/mobile/icon-To-Left.svg" />
        </button>
        <button id="next-3d-btn" type="button" onClick="next();">
          <img src="../assets/mobile/icon-To-Right.svg" />
        </button>
      </div>
    </div>
  </atomrigs-modal>

  <atomrigs-modal id="sample-modal" bgColor="transparent">
    <img src="fallback.jpg" />
  </atomrigs-modal>
</body>

</html>