<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <meta property="og:image" content="http://interverse.link/assets/meta-image.jpg" />
  
  <title>Interverse</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG901889B8"></script>
  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <link rel="icon" href="../assets/favicon-interverse-snowball.ico">
  <link href="../css/main.css?dt=<%= Date.now() %>" rel="stylesheet">
  <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">
  <script src="../js/common.js?dt=<%= Date.now() %>"></script>
  <script src="../js/components.js?dt=<%= Date.now() %>"></script>
  <script src="../js/funcs.js?dt=<%= Date.now() %>"></script>

  <script>
    function onLoaded() {
      init();
    }
  </script>
</head>

<body onLoad="onLoaded">
  <!-- Web -->
  <div class="page-background" style="background-image: var(--bg-intro)">
    <div class="footer-area">
      <a href="https://atomrigs.io">© Atomrigs Lab Inc.</a>
    </div>
    <navigation-bar-element activekey="about"></navigation-bar-element>
    <main class="intro-slider cc">
    <div class="intro-webp-page pp page-main web" style="position:fixed">
      <div class="intro-page-content">
        <picture class="flex justify-center items-center">
          <source srcset="../assets/interverse.webp" type="image/webp" />
            <img src=" ../assets/bg.jpg" alt="" />
        </picture>
      </div>
    </div>

    <div class="page pp">
      <div class="bottom-down-arrow">
        <button
          id="down-arrow-at-bottom"
          type="button"
          style="background-color: transparent; text-decoration: none;"
          onClick="moveToNextSlide()"
        >
          <img class="icon-arrow" src="../assets/icon-arrow.svg" alt="" />
        </button>
      </div>
    </div>
    <div class="page page-cover pp">
      <div>
        <span class="text text--random" data-scroll="out" data-splitting="" style="white-space: pre;" ><%= intro.title[0] %></span>
        <span class="text text--random" data-scroll="out" data-splitting="" style="white-space: pre;" ><%= intro.title[1] %></span>
        <span class="text text--random" data-scroll="out" data-splitting="" style="white-space: pre;" ><%= intro.title[2] %></span>
      </div>
      <div class="intro-desc">
          <span ><%= intro.desc[0] %></span>
          <span><%= intro.desc[1] %></span>
          <span ><%= intro.desc[2] %></span>
          <span><%= intro.desc[3] %></span>
          <span style="white-space: pre-line; font-weight: 400;"><%= intro.desc[4] %></span>
      </div>
    </div>
    </main>
  </div>

  <!-- end of home-background -->
  <script> 
    $("span:contains('ifland original X INTERVERSE')").addClass("intro-desc-gra");
    $("span:contains('Web3 Metaverse')").addClass("intro-desc-gra");
  </script>
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
  <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
  <script>
    Splitting();
    ScrollOut({
      targets: ".word",
      scrollingElement: ".cc"
    });
  </script>
</body>
</html>