<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <title>Interverse</title>

  <!-- html 파일들은 각 언어별 디렉토리에 있으므로 ../이 필요 -->
  <link href="../css/main.css?dt=<%= Date.now() %>" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">
  <link href="../css/atomrigs.css?dt=<%= Date.now() %>" rel="stylesheet">

  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <script src="../js/common.js?dt=<%= Date.now() %>"></script>
  <script src="../js/components.js?dt=<%= Date.now() %>"></script>
  <script src="../js/modal.js?dt=<%= Date.now() %>"></script>
  <script src="../js/webgl-player.js?dt=<%= Date.now() %>"></script>

  <link rel="stylesheet" href="../assets/swiperjs-10.3.1/swiper-bundle.min.css" />
  <script src="../assets/swiperjs-10.3.1/swiper-bundle.min.js"></script>

  <script src="../js/funcs.js?dt=<%= Date.now() %>"></script>

  <script>
    function onLoaded() {
      init();
    }
  </script>

</head>

<body onLoad="onLoaded()">
  <div class="page-background" style="background-image: var(--bg-kansong)">
    <navigation-bar-element activekey="kansong"></navigation-bar-element>
    <main class="--a-full-view">
      <!-- WEB -->
      <div class="web --a-full-view">
        <div class="bg-text">
          <div class="track">
            <div class="content">
              kansong art museum kansong art museum
            </div>
          </div>
        </div>
        <div class="swiper desktop-fullpage">
          <div class="swiper-wrapper">
            <div class="swiper-slide --a-full-width">
              <!-- 이미지 영역 + 설명 영역 -->
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-1.png" alt=""
                    style="max-height: 80%; position: absolute; top: 2.7rem; left: 8rem;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="subtitle">
                    <%= nft.kansong[0].subtitle %>
                  </div>
                  <div class="title">
                    <%= nft.kansong[0].title %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[0].content %>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    webgl-index="0"
                    sample-index="1"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-2.png" alt=""
                    style="max-height: 80%; position: absolute; top: 2.7rem; left: 8rem;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="subtitle">
                    <%= nft.kansong[1].subtitle %>
                  </div>
                  <div class="title">
                    <%= nft.kansong[1].title %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[1].content %>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    webgl-index="1"
                    sample-index="2"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-3.png" alt=""
                    style="max-height: 80%; position: absolute; top: 7.7rem; left: 8rem;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="subtitle">
                    <%= nft.kansong[2].subtitle %>
                  </div>
                  <div class="title">
                    <%= nft.kansong[2].title %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[2].content %>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    webgl-index="2"
                    sample-index="3"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div> <!-- end of web -->

      <!-- MOBILE -->
      <div class="mobile-panel">
        <div class="swiper mobile-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/kansong/img-kan-1.png"
                title="<%= nft.kansong[0].subtitle %>" subtitle="<%= nft.kansong[0].title %>"
                content="<%= nft.kansong[0].content %>" collection="kansong" webglIndex="0"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/kansong/img-kan-2.png"
                title="<%= nft.kansong[1].subtitle %>" subtitle="<%= nft.kansong[1].title %>"
                content="<%= nft.kansong[1].content %>" collection="kansong" webglIndex="1"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/kansong/img-kan-3.png"
                title="<%= nft.kansong[2].subtitle %>" subtitle="<%= nft.kansong[2].title %>"
                content="<%= nft.kansong[2].content %>" collection="kansong" webglIndex="2"></atomrigs-nft-container>
            </div>
          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div>
    </main>
  </div>

  <atomrigs-modal id="webgl-modal" width="60%" height="60%">
    <atomrigs-webgl-player id="webglPlayer" class="webglPlayer"></atomrigs-webgl-player>
  </atomrigs-modal>

  <atomrigs-modal id="sample-modal" width="60%" height="60%">
    <img src="fallback.jpg" />
  </atomrigs-modal>
</body>

</html>