<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <meta property="og:image" content="meta-image.jpg"/>
  
  <title>Interverse</title>

  <!-- html 파일들은 각 언어별 디렉토리에 있으므로 ../이 필요 -->
  <link rel="icon" href="../assets/favicon-interverse-snowball.ico">
  <link href="../css/main.css?dt=<%= Date.now() %>" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">
  <link href="../css/atomrigs.css?dt=<%= Date.now() %>" rel="stylesheet">

  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <script src="../js/common.js?dt=<%= Date.now() %>"></script>
  <script src="../js/components.js?dt=<%= Date.now() %>"></script>
  <script src="../js/modal.js?dt=<%= Date.now() %>"></script>
  <script src="../js/webgl-player.js?dt=<%= Date.now() %>"></script>

  <link rel="stylesheet" href="../assets/swiperjs-10.3.1/swiper-bundle.min.css" />
  <script src="../assets/swiperjs-10.3.1/swiper-bundle.min.js"></script>

  <script src="../js/funcs.js?dt=<%= Date.now() %>"></script>

  <script>
    function onLoaded() {
      init();
    }
  </script>

</head>

<body onLoad="onLoaded()">
  <div class="page-background" style="background-image: var(--bg-kansong)">
    <navigation-bar-element activekey="kansong"></navigation-bar-element>
    <main class="--a-full-view">
      <!-- WEB -->
      <div class="web --a-full-view">
        <div class="footer-area">
          <a href="https://atomrigs.io">© Atomrigs Lab Inc.</a>
        </div>
        <div class="bg-text">
          <div class="track">
            <div class="content">
              Kansong Metaverse Museum
            </div>
          </div>
        </div>
        <div class="swiper desktop-fullpage">
          <div class="swiper-wrapper">
            <div class="swiper-slide --a-full-width">
              <!-- 이미지 영역 + 설명 영역 -->
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area";>
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-1.png" alt=""
                    style="position: absolute; top: 7%; right: -40%;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span><%= nft.kansong[0].category %></span>
                  </div>
                  <div class="title">
                    <%= nft.kansong[0].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.kansong[0].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[0].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= quantity %></div>
                      <div class="nft-info-text1"><%= nft.kansong[0].quantity %></div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= desktopBenefit %></div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit1 %></div>
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit2 %></div>
                        <div class="nft-info-text2"><%= nft.kansong[0].benefit3 %></div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    item-no="1"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-2.png" alt=""
                    style="position: absolute; top: 13%; right: -33%;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span><%= nft.kansong[1].category %></span>
                  </div>
                  <div class="title">
                    <%= nft.kansong[1].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.kansong[1].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[1].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= quantity %></div>
                      <div class="nft-info-text1"><%= nft.kansong[0].quantity %></div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= desktopBenefit %></div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit1 %></div>
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit2 %></div>
                        <div class="nft-info-text2"><%= nft.kansong[0].benefit3 %></div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    item-no="2"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container wide-nft-desc-gap fullpage-slide-container-padding">
                <!-- 이미지 영역 (문 + NFT 이미지) -->
                <div class="nft-image-area">
                  <img
                    src="../assets/kansong/logo-kan.svg" alt=""
                    class="relative-max-full-height" />
                  <img
                    src="../assets/kansong/img-kan-3.png" alt=""
                    style="position: absolute; top: 22%; right: -40%;" />
                </div>
                <!-- 설명 영역 -->
                <div class="nft-desc-area">
                  <div class="category">
                    <span><%= nft.kansong[2].category %></span>
                  </div>
                  <div class="title">
                    <%= nft.kansong[2].title %>
                  </div>
                  <div class="subtitle">
                    <%= nft.kansong[2].subtitle %>
                  </div>
                  <div class="content" style="margin-top: 1.5rem;">
                    <%= nft.kansong[2].content %>
                  </div>
                  <div class="desktop-info">
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= quantity %></div>
                      <div class="nft-info-text1"><%= nft.kansong[0].quantity %></div>
                    </div>
                    <div style="display: flex; gap: 1.5rem;">
                      <div class="nft-info-title" style="min-width: 5.125rem;"><%= desktopBenefit %></div>
                      <div style="display: flex; flex-direction: column">
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit1 %></div>
                        <div class="nft-info-text1"><%= nft.kansong[0].benefit2 %></div>
                        <div class="nft-info-text2"><%= nft.kansong[0].benefit3 %></div>
                      </div>
                    </div>
                  </div>
                  <atomrigs-button-group
                    collection="kansong"
                    item-no="3"
                  ></atomrigs-button-group>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
        <div class="bottom-down-arrow">
          <button
            id="down-arrow-at-bottom"
            type="button"
            style="background-color: transparent; text-decoration: none;"
            onClick="moveToNextSlide()"
          >
            
            <img class="icon-arrow" src="../assets/icon-arrow.svg" alt="" />
          </button>
        </div>
      </div> <!-- end of web -->

      <!-- MOBILE -->
      <div class="mobile-panel mobile-safari-full-height">
        <div class="swiper mobile-swiper mobile-safari-full-height">
          <div class="swiper-wrapper mobile-safari-full-height">
            <div class="swiper-slide mobile-slide mobile-safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/kansong/img-kan-1.png"
                category="<%= nft.kansong[0].category %>"
                title="<%= nft.kansong[0].title %>"
                subtitle="<%= nft.kansong[0].subtitle %>"
                content="<%= nft.kansong[0].content %>"
                collection="kansong"
                item-no="1"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide mobile-safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/kansong/img-kan-2.png"
                category="<%= nft.kansong[1].category %>"
                title="<%= nft.kansong[1].title %>"
                subtitle="<%= nft.kansong[1].subtitle %>"
                content="<%= nft.kansong[1].content %>"
                collection="kansong"
                item-no="2"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide mobile-safari-full-height">
              <atomrigs-nft-container
                oneTimeImage="../assets/kansong/img-kan-3.png"
                category="<%= nft.kansong[2].category %>"
                title="<%= nft.kansong[2].title %>"
                subtitle="<%= nft.kansong[2].subtitle %>"
                content="<%= nft.kansong[2].content %>"
                collection="kansong"
                item-no="3"></atomrigs-nft-container>
            </div>
          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div>
    </main>
  </div>

  <atomrigs-modal id="benefit-modal" width="60%" height="60%" bgColor="transparent">
    <div class="mobile-info">
      <div class="nft-info-title"><%= quantity %></div>
      <div class="nft-info-text1" style="margin-top: 1.25rem;"><%= nft.kansong[0].quantity %></div>
      <div class="nft-info-title" style="margin-top: 2.25rem;"><%= desktopBenefit %></div>
      <div class="nft-info-text1" style="margin-top: 1.25rem;"><%= nft.kansong[0].benefit1 %></div>
      <div class="nft-info-text1" style="margin-top: 0.75rem;"><%= nft.kansong[0].benefit2 %></div>
      <div class="nft-info-text2"><%= nft.kansong[0].benefit3 %></div>
    </div>
  </atomrigs-modal>

  <atomrigs-modal id="webgl-modal" width="fit-content" height="fit-content" bgColor="transparent">
    <atomrigs-webgl-player id="webglPlayer" class="webglPlayer"></atomrigs-webgl-player>
  </atomrigs-modal>

  <atomrigs-modal id="sample-modal" width="fit-content" height="fit-content" bgColor="transparent">
    <img src="fallback.jpg" class="sample-image" />
  </atomrigs-modal>
  <atomrigs-modal id="mobile-desc-modal" width="fit-content" height="fit-content" bgColor="transparent">
    <p>간송 혜택 설명</p>
  </atomrigs-modal>
</body>

</html>