<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="Pragma" content="no-cache">
    <meta HTTP-equiv="Expires" content="-1">

    <title>Interverse</title>
    <link href="../assets/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet" crossorigin="anonymous">
    <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">

    <script src="../assets/jquery-3.7.1.slim.min.js"></script>
    <script src="../js/common.js?dt=<%= Date.now() %>"></script>
    <script src="../js/modal.js?dt=<%= Date.now() %>"></script>
    <script src="../js/webgl-player.js?dt=<%= Date.now() %>"></script>
  </head>
  <body>
    <navigation-bar-element></navigation-bar-element>

    <main class="main-container">
      <!-- 데스크탑 -->
      <div class="desktop-panel">
        <div class="new-page">
          <div class="pinzle-page-container">
            핀즐 데스크탑 페이지1
          </div>
        </div>
        <div class="new-page">
          <div class="desktop-page-container">
            핀즐 데스크탑 페이지2
          </div>
        </div>
        <div class="new-page">
          <div class="desktop-page-container">
            핀즐 데스크탑 페이지3
          </div>
        </div>
      </div>

      <!-- mobile -->
      <div class="mobile-panel">
        <div class="nft-page">

          <!-- 모바일 NFT 보여주기 - 여기서부터 -->
          <div class="mobile-page-container">
            <div class="mobile-page-content">
              <button type="button">
                <img src="../assets/mobile/icon-To-Left.svg" />
              </button>
              <img src="../assets/pinzle/img-sk-cathelmet.png" />
              <button type="button">
                <img src="../assets/mobile/icon-To-Right.svg" />
              </button>
            </div>
            <div class="mobile-button-group">
              <button type="button" class="tool-button" onClick="alert('3d 보기')">
                <img src="../assets/mobile/icon-3d_2.svg" style="display: inline-block" />3D 보기
              </button>
              <button type="button" class="tool-button" onClick="alert('적용 예')">
                <img src="../assets/mobile/icon-3d_2.svg" style="display: inline-block" />적용 예
              </button>
            </div>
          </div>
          <!-- 모바일 NFT 보여주기 - 여기까지 -->

        </div>
        <div class="empty-page">&nbsp;</div>
        <div class="new-page">
          <div class="desc-container">
            설명 이거
          </div>
        </div>
      </div>
    </main>

    <script src="../assets/jquery-3.7.1.slim.min.js"></script>
    <script src="../assets/bootstrap-5.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
