<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Pragma" content="no-cache">
  <meta HTTP-equiv="Expires" content="-1">

  <title>Interverse</title>

  <!-- html 파일들은 각 언어별 디렉토리에 있으므로 ../이 필요 -->
  <link href="../assets/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/main.css?dt=<%= Date.now() %>" rel="stylesheet" crossorigin="anonymous">
  <link href="../css/ji.css?dt=<%= Date.now() %>" rel="stylesheet">
  <link href="../css/atomrigs.css?dt=<%= Date.now() %>" rel="stylesheet">

  <script src="../assets/jquery-3.7.1.slim.min.js"></script>
  <script src="../js/common.js?dt=<%= Date.now() %>"></script>
  <script src="../js/components.js?dt=<%= Date.now() %>"></script>
  <script src="../js/modal.js?dt=<%= Date.now() %>"></script>
  <script src="../js/webgl-player.js?dt=<%= Date.now() %>"></script>

  <link rel="stylesheet" href="../assets/swiperjs-10.3.1/swiper-bundle.min.css" />
  <script src="../assets/swiperjs-10.3.1/swiper-bundle.min.js"></script>

  <script src="../js/funcs.js?dt=<%= Date.now() %>"></script>

  <script>
    function onLoaded() {
      init();
    }
  </script>

</head>

<body onLoad="onLoaded()">
  <div class="page-background" style="background-image: var(--bg-ifland)">
    <navigation-bar-element activekey="skt"></navigation-bar-element>
    <main class="--a-full-view">

      <!-- WEB -->
      <div class="web --a-full-view">
        <div class="bg-text">
          <div class="track">
            <div class="content">
              skt original skt original
            </div>
          </div>
        </div>

        <div class="swiper desktop-fullpage">
          <div class="swiper-wrapper">

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container">
                <div class="item-nft">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" />
                  <div>
                    <img src="../assets/ifland/img-ifland-cathelmet.png" alt="" />
                  </div>
                </div>

                <div class="item-text">
                  <span class="subtitle">
                    <%= nft.ifland[0].subtitle %>
                  </span>
                  <span class="title">
                    <%= nft.ifland[0].title %>
                  </span>
                  <span class="content">
                    <%= nft.ifland[0].content %>
                  </span>
                  <div class="button-area">
                    <button type="button" class="button" onClick="onViewIn3DClicked('ifland', 0)">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= view %>
                      </span>
                    </button>
                    <button type="button" class="button">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= example %>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container">
                <div class="item-nft">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" />
                  <div>
                    <img src="../assets/ifland/img-ifland-bagHelmet.png" alt="" />
                  </div>
                </div>

                <div class="item-text">
                  <span class="subtitle">
                    <%= nft.ifland[1].subtitle %>
                  </span>
                  <span class="title">
                    <%= nft.ifland[1].title %>
                  </span>
                  <span class="content">
                    <%= nft.ifland[1].content %>
                  </span>
                  <div class="button-area">
                    <button type="button" class="button" onClick="onViewIn3DClicked('ifland', 1)">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= view %>
                      </span>
                    </button>
                    <button type="button" class="button">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= example %>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container">
                <div class="item-nft">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" />
                  <div>
                    <img src="../assets/ifland/img-ifland-neonglasses.png" alt="" />
                  </div>
                </div>

                <div class="item-text">
                  <span class="subtitle">
                    <%= nft.ifland[2].subtitle %>
                  </span>
                  <span class="title">
                    <%= nft.ifland[2].title %>
                  </span>
                  <span class="content">
                    <%= nft.ifland[2].content %>
                  </span>
                  <div class="button-area">
                    <button type="button" class="button" onClick="onViewIn3DClicked('ifland', 2)">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= view %>
                      </span>
                    </button>
                    <button type="button" class="button">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= example %>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

            <div class="swiper-slide --a-full-width">
              <div class="desktop-fullpage-slide-container">
                <div class="item-nft">
                  <img src="../assets/ifland/logo-ifland.svg" alt="" />
                  <div>
                    <img src="../assets/ifland/img-ifland-metaverse-man.png" alt="" />
                    <img src="../assets/ifland/img-ifland-metaverse-woman.png" alt="" />
                  </div>
                </div>

                <div class="item-text">
                  <span class="subtitle">
                    <%= nft.ifland[3].subtitle %>
                  </span>
                  <span class="title">
                    <%= nft.ifland[3].title %>
                  </span>
                  <span class="content">
                    <%= nft.ifland[3].content %>
                  </span>
                  <div class="button-area">
                    <button type="button" class="button" onClick="onViewIn3DClicked('ifland', 3)">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= view %>
                      </span>
                    </button>
                    <button type="button" class="button">
                      <span><img src="../assets/icon-3d_2.svg" />
                        <%= example %>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div> <!-- end of swiper-slide -->

          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div> <!-- end of web-->

      <!-- MOBILE -->
      <div class="mobile-panel">
        <div class="swiper mobile-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/ifland/img-ifland-cathelmet.png"
                title="<%= nft.ifland[0].subtitle %>" subtitle="<%= nft.ifland[0].title %>"
                content="<%= nft.ifland[0].content %>" collection="skt" webglIndex="0"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/ifland/img-ifland-bagHelmet.png"
                title="<%= nft.ifland[1].subtitle %>" subtitle="<%= nft.ifland[1].title %>"
                content="<%= nft.ifland[1].content %>" collection="skt" webglIndex="1"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/ifland/img-ifland-neonglasses.png"
                title="<%= nft.ifland[2].subtitle %>" subtitle="<%= nft.ifland[2].title %>"
                content="<%= nft.ifland[2].content %>" collection="skt" webglIndex="2"></atomrigs-nft-container>
            </div>
            <div class="swiper-slide mobile-slide">
              <atomrigs-nft-container oneTimeImage="../assets/ifland/img-ifland-metaverse-man.png"
                oneTimeImage2="../assets/ifland/img-ifland-metaverse-woman.png" title="<%= nft.ifland[3].subtitle %>"
                subtitle="<%= nft.ifland[3].title %>" content="<%= nft.ifland[3].content %>" collection="skt"
                webglIndex="3"></atomrigs-nft-container>
            </div>
          </div> <!-- end of swiper-wrapper -->
        </div> <!-- end of swiper -->
      </div>
      <!-- <div id="carousel-list1" class="page page-main mobile bg">
        <div class="carousel-content">
          <div class="bg-ifland"></div>
          <div class="item-nft">
            <img src="../assets/mobile/icon-To-Left.svg" alt="" />
            <img src="../assets/ifland/img-ifland-cathelmet.png" alt="" />
            <img src="../assets/mobile/icon-To-Right.svg" alt="" />
          </div>
          <div class="button-area">
            <span id="nft1-3d-view" class="button"><img src="../assets/icon-3d_2.svg" /><%= view %></span>
            <span id="nft1-extra" class="button"><img src="../assets/icon-3d_2.svg" /><%= example %></span>
        </div>
        </div>

        <div class="carousel-content">
          <div class="bg-ifland"></div>
          <div class="item-nft">
            <img src="../assets/mobile/icon-To-Left.svg" alt="" />
            <img src="../assets/ifland/img-ifland-bagHelmet.png" alt="" />
            <img src="../assets/mobile/icon-To-Right.svg" alt="" />
          </div>
          <div class="button-area">
              <span id="nft1-3d-view" class="button"><img src="../assets/icon-3d_2.svg" /><%= view %></span>
              <span id="nft1-extra" class="button"><img src="../assets/icon-3d_2.svg" /><%= example %></span>
          </div>
        </div>

        <div class="carousel-content">
          <div class="bg-ifland"></div>
          <div class="item-nft">
            <img src="../assets/mobile/icon-To-Left.svg" alt="" />
            <img src="../assets/ifland/img-ifland-neonglasses.png" alt="" />
            <img src="../assets/mobile/icon-To-Right.svg" alt="" />
          </div>
          <div class="button-area">
            <span id="nft1-3d-view" class="button"><img src="../assets/icon-3d_2.svg" /><%= view %></span>
            <span id="nft1-extra" class="button"><img src="../assets/icon-3d_2.svg" /><%= example %></span>
        </div>
        </div>

        <div class="carousel-content">
          <div class="bg-ifland"></div>
          <div class="item-nft">
            <img src="../assets/mobile/icon-To-Left.svg" alt="" />
            <img src="../assets/ifland/img-ifland-metaverse-man.png" alt="" />
            <img src="../assets/ifland/img-ifland-metaverse-woman.png" alt="" />
            <img src="../assets/mobile/icon-To-Right.svg" alt="" />
          </div>
          <div class="button-area">
            <span id="nft1-3d-view" class="button"><img src="../assets/icon-3d_2.svg" /><%= view %></span>
            <span id="nft1-extra" class="button"><img src="../assets/icon-3d_2.svg" /><%= example %></span>
        </div>
        </div>
      </div>
      
      <div id="carousel-list2" class="page mobile test">
        <div class="carousel-content"></div>
        <div class="carousel-content"></div>
        <div class="carousel-content"></div>
        <div class="carousel-content"></div>
      </div>

      <div id="carousel-list3" class="page mobile text">
            <div class="carousel-content page-cover">
              <div class="item-text">
                <span class="subtitle"><%= nft.ifland[0].subtitle %></span>
                <span class="title"><%= nft.ifland[0].title %></span>
                <span class="content"><%= nft.ifland[0].content %></span>
              </div>
          </div>
          <div class="carousel-content page-cover">
            <div class="item-text">
              <span class="subtitle"><%= nft.ifland[1].subtitle %></span>
              <span class="title"><%= nft.ifland[1].title %></span>
              <span class="content"><%= nft.ifland[1].content %></span>
            </div>
        </div>
        <div class="carousel-content page-cover">
          <div class="item-text">
            <span class="subtitle"><%= nft.ifland[2].subtitle %></span>
            <span class="title"><%= nft.ifland[2].title %></span>
            <span class="content"><%= nft.ifland[2].content %></span>
          </div>
        </div>
        <div class="carousel-content page-cover">
          <div class="item-text">
            <span class="subtitle"><%= nft.ifland[3].subtitle %></span>
            <span class="title"><%= nft.ifland[3].title %></span>
            <span class="content"><%= nft.ifland[3].content %></span>
          </div>
        </div>
      </div> -->
    </main>
  </div>

  <atomrigs-modal id="webgl-modal" width="60%" height="60%">
    <atomrigs-webgl-player id="webglPlayer" class="webglPlayer"></atomrigs-webgl-player>
  </atomrigs-modal>

  <atomrigs-modal id="sample-modal" width="60%" height="60%">
    <img src="fallback.jpg" />
  </atomrigs-modal>

  <script src="../js/carousel.js"></script>
  <script src="../assets/bootstrap-5.3.2/js/bootstrap.min.js"></script>
</body>

</html>